# Dependencies
node_modules/
dist/

# Environment files and secrets
.env
.env.local
*.env

# Operating system & editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*